<h1>Redes sociales mas usadas</h1>

<hr>
<div class="alert alert-info" *ngIf="doughnutChartData.datasets[0].data.length ===0; else divGrafica ">
    Cargando...
</div>

<div class="row" >
    <div class="col">
        <ng-template  #divGrafica>
            <div class="display: block" #divGrafica>
            
                <canvas baseChart class="chart"
                        [data]="doughnutChartData"
                        [type]="doughnutChartType">
                </canvas>
            
            </div>
            <span class="float-end text-primary">Información en billones de usuarios</span>

        </ng-template>
    </div>
</div>
